* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  float: left;
}
.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h2 {
  font-size: 40px;
  font-family: san;
  margin-bottom: 20px;
  position: relative;
}
nav {
  float: right;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
h2::first-letter {
  font-size: 50px;
  background-color: #ffff00;
}
h2::after {
  content: "TOP";
  background-color: #ff4500;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: bold;
  display: inline;
  position: absolute;
  top: -10px;
  right: -25px;
}
/* h3 + p::first-line { */
/* color: #ff4500; */

h3 {
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  font-family: sans-serif;
}
.colour {
 
  height: 22px;
  width: 400px;
  display: flex;
  gap: 10px;
}
.colour-black {
  background-color: #000000;
}

.colour-blue {
  background-color: #0000ff;
}

.colour-red {
  background-color: #ff0000;
}

.colour-yellow {
  background-color: #ffff00;
}

.colour-green {
  background-color: #008000;
}

.colour-brown {
  background-color: #a52a2a;
}

/*article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 18px;
}
/* footer p {  
  font-size: 16px;
 } */
#copy {
  font-size: 16px;
}
#related-author {
  font-size: 18px;
  font-weight: bold;
}
.related-1 {
  list-style: none;
  margin: 0;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}
.post-header {
  margin-bottom: 40px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}
/* .first-li { 
  font-weight: bold;
}*/
li {
  font-size: 20px;
  margin-bottom: 10px;
}
ol,
ul {
  margin-left: 50px;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
/* misconception:thi wont work */
article p:first-child {
  color: blue;
}
/* styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: #ff4500;
  font-weight: bold;
  text-decoration: underline #ff4500;
}
a:active {
  background-color: black;
  font-style: oblique;
}
.post-img {
  width: 100%;
  height: auto;
}
nav a:link {
  margin-right: 30px;
  display: inline-block;
  margin-top: 10px;
}
button {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.author-img {
  /* float: left; */
  /* margin-bottom: 20px; */
}
.author {
  /* margin-left: 20px; */
  /* margin-top: 10px; */
  /* float: left; */
}
/* article { */
  /* float: left; */
  /* width: 825px; */
}
aside { 
  /* float: right; */
  /* width: 500px; */
  /* padding: 50px; */
 /* /box-sizing: border-box; */
}
#copy { 
  /* clear: both; */
}
.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-box{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.author{
  margin: 0;
  margin-left: 20px;
}
.related-post{
  display: flex;
  align-items: center;
  gap: 10px;
}
.related-author{
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.related-link :link{
font-style: none;
font-weight: bold;
font-size: 16px;
}
.row{
  display: flex;
   gap: 75px;
   align-items: flex-start;
}
article{
  flex-basis: 900px;
  flex: 1;
 
}
aside{
  width: 400px;
}